@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
             <div class="float-left">
                <img src="images/image2.png" style="margin-left:-350px; margin-top:-65px; margin-bottom:0px"/>
            </div>
            <p>
               Clean Coding Knowledge Database.
            </p>
        </div>
    </section>
}
<h3>To get started:</h3>
<ol class="round">
    <li class="one">
        <h5>Sign Up</h5>
        Just do it.
    </li>

    <li class="two">
        <h5>Read Articles</h5>
        They're good.
    </li>

    <li class="three">
        <h5>Comment How Great They Are</h5>
       We deserve it.
    </li>
</ol>
